<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Login</title>

</head>
<body>
<!-- <h1>Hello World!</h1> -->
<form th:action="@{/login}" method="post">        
    <div th:if="${param.error != null}">         
		<p>
			Invalid username and password.
		</p >
	</div>
	<div th:if="${param.logout != null}">        
		<p>
			You have been logged out.
		</p >
	</div>
	<p>
		<label for="username">Username</label>
		<input type="text" id="username" name="un"/>	  
	</p >
	<p>
		<label for="password">Password</label>
		<input type="password" id="password" name="pass"/>	  
	</p >
	<input type="hidden"                        
		name="${_csrf.parameterName}"
		value="${_csrf.token}"/>
	 <button type="submit" style="width:190px;">登 录</button>

</form>

</body>
</html>